In [10]:
import pandas as pd
import numpy as np

In [44]:
svm_linear = pd.read_csv("svm_linear.csv")
svm_rbf = pd.read_csv("svm_rbf.csv")
xgboost_hot = pd.read_csv("xgboost_hotencoding.csv")
xgboost_label = pd.read_csv("xgboost_label.csv")
lgb = pd.read_csv("lgb.csv")
logistic = pd.read_csv("logistic_grid.csv")

In [45]:
ensemble = pd.DataFrame()

In [46]:
ensemble['P1'] = svm_linear['P']
ensemble['P2'] = svm_rbf['P']
ensemble['P3'] = xgboost_hot['P']
ensemble['P4'] = xgboost_label['P']
ensemble['P5'] = lgb['P']
ensemble['P6'] = logistic['P']

ensemble['P'] = xgboost_label['P']

# Ranking

In [47]:
ensemble['P'] = ensemble.mode(axis=1)

In [48]:
ensemble.drop(['P1','P2','P3','P4','P5','P6'],axis=1,inplace=True)

ensemble['id'] = svm_linear['id']

In [49]:
#del svm_linear,svm_rbf,xgboost_hot,xgboost_label,lgb,logistic

In [50]:
final = pd.DataFrame()
final['id'] = ensemble['id']
final['P'] = ensemble['P']

final['P'] = final['P'].apply(lambda x: int(x))

#final.to_csv("ensemble.csv",index=False) 
#final.to_csv("ensemble3.csv",index=False)

# Stacking

In [51]:
ensemble[ensemble['id'].isin([569,578,598,604,605,624,661])]

     P1  P2  P3  P4  P5  P6  P   id
16    0   1   1   1   0   1  1  569
25    0   0   1   1   0   1  1  578
45    0   1   0   1   0   1  1  598
51    0   0   1   1   0   1  1  604
52    0   0   0   0   1   0  0  605
71    0   1   1   1   0   0  1  624
108   0   1   0   0   0   1  0  661